/*STATYSTYKI STATISTICS*/
.statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  @include mobile {
    margin-top: 50px;

  }

  &__title {
    font-family: $raleway;
    font-size: 2.25rem;
    letter-spacing: 0;
    line-height: 2.625rem;
    color: $color-black;
    @include mobile{
      text-align: center;
    }
  }

  &__box {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 86px;
    margin-bottom: 106px;
    @include mobile{
      flex-direction: column;
      margin-top: 50px;
    }
  }

  .statistics__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;

    .item__circle {
      width: 63px;
      height: 63px;
      border-radius: 50%;
      display: flex;
      align-items: center;
    }

    .circleRed {
      background-color: $color-redish;
    }

    .circleBlue {
      background-color: $color-primary;
    }

    .circleGreen {
      background-color: $color-green;
    }

    .item__title {
      color: $color-black;
      font-family: $raleway;
      font-weight: 800;
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0.3725rem;
      margin: 13px 0 19px 0;
    }

    .item__text {
      font-family: $openSans;
      font-size: 1.0625rem;
      line-height: 1.25rem;
      letter-spacing: 0;
      color: $color-grey;
    }
  }
}

.item__circle .item__icon {
  transform: translateX(50%);
}

.circleBlue .item__icon {
  transform: translateX(30%);
}